<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anjuke.mybatis.BlogMapper">
    <!--<select id="selectBlog" resultType="com.anjuke.mybatis.Blog">
        select * from Blog where id = #{id}
    </select>-->

    <insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="id" parameterType="com.anjuke.mybatis.Blog">
        insert into blog(flag) values(0)
    </insert>
</mapper>